/* .border-table > table {
    background-color: red;
} */

/* .ant-table-tbody > tr > td {
    border: 1px solid red;
  }
  
.ant-table-thead > tr > th {
    border: 1px solid red;
} */
/* .table-custom > table {
    min-width: 1700px;
}
.ant-table-container {
    min-width: 1700px;
} */
.ant-table-wrapper {
    max-width: '120%';
}
.table-container-custom {
    width: '100%';
}
.ant-dropdown .ant-dropdown-menu {
    max-height: 200px !important;
}
@media (max-width: 992px) {
    .ant-picker-panel:last-child .ant-picker-date-panel {
      display: none !important;
    }

    .ant-picker-panel:first-child
      .ant-picker-date-panel
      .ant-picker-header-next-btn,
    .ant-picker-panel:first-child
      .ant-picker-date-panel
      .ant-picker-header-super-next-btn {
      visibility: initial !important;
    }
  
    .ant-picker-panel.ant-picker-range-wrapper {
      min-width: 288px !important;
    }
  
    .ant-picker-presets {
      display: none !important;
    }
}