.card-product>.ant-card-body {
    padding: 0px !important;
    background-color: #fafafb;
    border: none;
}

.title-card-product {
    font-weight: 500;
    font-size: 12px;
    min-height: 41px;
    cursor: pointer;
}

.price-card-product {
    color: #005494;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 0px;
}

.wrap-button-card {
    display: flex;
    justify-content: space-between;
}

.add-to-cart-button {
    width: 100%;
    font-weight: 500;
}

.no-border-radius {
    border-radius: 0px;
}

.card-product {
    border-radius: 0px;
    border: none;
    background-color: #fafafb;
}

.ant-card-cover img {
    border-radius: 0px !important;
}