.ant-modal-title {
    font-size: 20px;
}
.title-detail {
    /* font-weight: 500; */
    text-decoration: underline;
    font-size: 14px;
    /* font-style: italic; */
    margin: 5px 0px;
}
.title-name-custom {
    font-weight: 500;
    margin-right: 3px;
     
}
.box-image {
    max-height: 200px;
    overflow-y: auto;
}

.title-time {
    font-weight: 500;
    min-width: 120px;
}
.min-width-50 {
    min-width: 50px;
}

/* .btn-success-custom> .bg-primary {
    background-color: #4190F7;
  }
   */
.btn-success-custom{
background-color: #1b5e20;
}
.btn-success-custom:hover{
    background: #1b5e20cf !important;
}
.font-bold {
    font-weight: 500;
}
  
  /* .btn-success-custom> .bg-warning {
    background-color: #EFAF41;
  }
  
  .btn-success-custom> .bg-danger {
    background-color: #E23C39;
  } */

.footer-modal {
    display: flex;
    justify-content: space-between;
}