/* .ant-input-affix-wrapper {
    border-start-start-radius: 20px !important;
    border-end-start-radius: 20px !important;
}

.ant-input-search-button {
    border-start-end-radius: 20px !important;
    border-end-end-radius: 20px !important;
} */
.tab_account > .ant-tabs-nav::before {
    border-bottom: none !important;
  }